# --- AWS Keys ---
*.pem

# --- Terraform State (Contains Plaintext IPs/IDs) ---
.terraform/
*.tfstate
*.tfstate.backup

# --- Ansible & Secrets ---
ansible/inventory.ini
.vault_pass.txt
ansible/secrets.yml
ansible/secrets_temp.yml
*.retry

# --- System ---
.DS_Store
Thumbs.db